.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
  border-radius: 15px;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 20px;
  width: 150px;
  background-color: #c2fbd7;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.15) 0 1px 2px,
    rgba(44, 187, 99, 0.15) 0 2px 4px, rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
}

button:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.25) 0 1px 2px,
    rgba(44, 187, 99, 0.25) 0 2px 4px, rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05);
}

input {
  margin: 10px;
  padding: 7px;
  text-align: center;
  border: none;
  outline: none;
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, .3);
  font-family: inherit;
  font-size: inherit;
  background-color: rgb(235, 235, 232);
}

.nothing {
  cursor: pointer;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 20px;
  height: č00px;
  width: 300px;

  background-color: #e4d5f8;
  box-shadow: rgba(111, 44, 187, 0.2) 0 -25px 18px -14px inset, rgba(163, 44, 187, 0.15) 0 1px 2px,
    rgba(134, 44, 187, 0.15) 0 2px 4px, rgba(146, 44, 187, 0.15) 0 4px 8px, rgba(123, 44, 187, 0.15) 0 8px 16px,
    rgba(158, 44, 187, 0.15) 0 16px 32px;
  color: rgb(81, 0, 128);

}